.blog-title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    margin-top: 5%;
    h1{
        text-align: center !important;
    }
}

.blog-items{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 10%;
}

.blog-item-box{
    border-radius: 22px;
    border-style: solid;
    border-color: #707070;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 320px;
    margin: 5%;
    h1, h2, h3{
        text-align: left !important;
    }
    h3{
        font-size: 11px;
        font-family: 'Montserrat';
        font-weight: 300;
    }
}

@media screen and(min-width: 1000px){
    .blog-title-container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;
        h1{
            text-align: center !important;
        }
    }
    .blog-items{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
        margin-bottom: 5%;
        justify-items: center;
    }
    .blog-item-box{
        border-radius: 22px;
        border-style: solid;
        border-color: #707070;
        border-width: 1px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 518px;
        height: 450px;
        margin: 5%;
        h1, h2, h3{
            text-align: left !important;
        }
        h3{
            font-size: 11px;
            font-family: 'Montserrat';
            font-weight: 300;
        }
    }
}