.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    background-color: $footer-bg;
    margin-top: 10%;
    height: 500px;
    left: 0;
    right: 0;
}

.footer-text{
    color: #ADADAD;
    font-size: 12px;
}

.back-to-top-mobile{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .footer-text{
        margin-bottom: 0px;
    }
    .arrow-icon{
        margin-right: 20px;
        color: white;
    }
}

.socials{
    margin-top: 100px;
    margin-bottom: 100px;
    color: white;
    font-size: 40px;
    a{
        color: white !important;
    }
}

.socials > *{
    margin: 15px;
}

.back-to-top-desktop{
    display: none;
}

.footer-links{
    display: none;
}



@media screen and(min-width: 900px){
    .footer-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
        width: 100%;
        background-color: $footer-bg;
        margin-top: 10%;
        height: 700px;
        left: 0;
        right: 0;
    }

    .footer-links{
        display: flex;
        flex-direction: column;
        margin-bottom: 125px;
        a{
            font-family: 'Montserrat' !important;
            font-size: 20px;
            font-weight: 300;
            color: white !important;
            margin-bottom: 30px;
            text-align: left;
            transition: color 100ms;
        }
    }

    .footer-text{
        color: #ADADAD;
        font-size: 16px;
    }

    .socials{
        margin-top: 100px;
        margin-bottom: 0px;
        color: white;
        font-size: 25px;

        :first-child{
            margin-left: 0px;
        }
    }
    
    .socials > *{
        margin: 20px;
    }
    
    .back-to-top-mobile{
        display: none;
    }

    .back-to-top-desktop{
        display: block;
        .a47-logo{
            filter: invert(99%) sepia(0%) saturate(2%) hue-rotate(64deg) brightness(106%) contrast(100%);
            width: 200px;
            height: 160px;
        }
        h2{
            font-weight: 300;
            color: white;
            font-size: 45px !important;
            text-align: center;
            margin-top: -5px;
            margin-bottom: 0px;
        }

        :last-child{
            margin-top: -15px;
            font-size: 30px !important;
        }
    }
   
}
