.hero-section {
  margin-bottom: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 5%;
  margin-right: 5%;
}

.hero-body {
  h2 {
    text-align: center;
    font-family: "Montserrat" !important;
    font-weight: 300 !important;
    font-size: 14px;
    color: black;
    margin-bottom: 30px;
  }
}

.hero-button-section{
    margin-top: 30px;
    align-self: center;
}

.hero-image {
  display: none;
}

@media screen and(min-width: 900px) {

  .hero-section{
    margin-top: -10%;
  }

  .hero-body {
    h2 {
      text-align: left;
      font-family: "Montserrat" !important;
      font-weight: 300 !important;
      font-size: 20px;
      color: black;
      margin-bottom: 30px;
    }
  }

  .hero-button-section{
      margin-top: 30px;
      align-self: flex-start;
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 5%;
    margin-right: 0px;
  }

  .hero-image {
    display: block;
    width: 500px;
    height: 500px;
    animation: float infinite 2s linear;
    animation-direction: alternate;
    margin-right: 5%;
  }

  @keyframes float{
    from{
      transform: translateY(-20px);
    }
    to{
      transform: translateY(20px);
    }
  }
}

@media screen and(min-width: 1150px) {
  .hero-image {
    display: block;
    width: 800px;
    height: 800px;
    animation: float infinite 2s linear;
    animation-direction: alternate;
  }
}

