// @import '_header';
// @import '_section';
@import "~bootstrap/scss/bootstrap";
@import "_variables";
@import "_navbar";
@import "_fonts";
@import "_hero";
@import "_button";
@import "_textSection";
@import "_textCarousel";
@import "_threePartSection";
@import "_starBackground";
@import "_brand";
@import "_contactForm";
@import "_footer";
@import "_blog";

.under-construction{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 15%;
  a{
    font: "Montserrat";
  }
}

.simple-text {
  margin-bottom: 10%;
  margin-left: 5%;
  margin-right: 5%;
  h1 {
    text-align: center;
  }
  h2 {
    text-align: center;
  }
}

.App {
  display: grid;
  row-gap: 2%;
}

h1 {
  text-align: center;
  font-family: "Montserrat", monospace !important;
  font-weight: 900 !important;
  font-size: 26px;
  color: $header-text;
}

h2 {
  text-align: center;
  font-family: "Montserrat" !important;
  font-weight: 300 !important;
  font-size: 14px;
  color: black;
  margin-bottom: 30px;
  line-height: 1.8;
}

.header {
  margin-bottom: 30px;
}


@media screen and(min-width: 900px) {

  a:hover {
    color: $header-text !important;
  }
  
  a:active {
    color: $header-text !important;
  }

  .simple-text {
    h1 {
      text-align: center;
    }
    h2 {
      text-align: center;
    }
  }

  h1 {
    text-align: left;
    font-family: "Montserrat" !important;
    font-weight: 900 !important;
    font-size: 52px;
    color: $header-text;
  }
  h2 {
    text-align: left;
    font-family: "Montserrat" !important;
    font-weight: 300 !important;
    font-size: 20px;
    color: black;
    margin-bottom: 30px;
  }

  .star-background {
    // n is number of stars required
    @function multiple-box-shadow($n) {
      $value: "#{random(5000)}px #{random(400)}px #000";
      @for $i from 2 through $n {
        $value: "#{$value} , #{random(5000)}px #{random(400)}px #000";
      }
  
      @return unquote($value);
    }
  
    $shadows-small: multiple-box-shadow(700);
    $shadows-medium: multiple-box-shadow(200);
    $shadows-big: multiple-box-shadow(100);
  
    #stars {
      width: 1px;
      height: 1px;
      background: transparent;
      box-shadow: $shadows-small;
      animation: animStar 25s linear infinite;
      animation-direction: alternate;
      z-index: -10;
      position: absolute;
      left: 0;
      right: 0;
      margin-right: 0px;
      &:after {
        content: " ";
        position: absolute;
        top: -500px;
        width: 1px;
        height: 1px;
        background: transparent;
        box-shadow: $shadows-small;
        z-index: -10;
      }
    }
  
    #stars2 {
      width: 2px;
      height: 2px;
      background: transparent;
      box-shadow: $shadows-medium;
      animation: animStar 75s linear infinite;
      animation-direction: alternate;
      z-index: -10;
      margin-left: 0px;
      margin-right: 0px;
      position: absolute;
      left: 0;
      right: 0;
      &:after {
        content: " ";
        position: absolute;
        top: -500px;
        width: 2px;
        height: 2px;
        background: transparent;
        box-shadow: $shadows-medium;
        z-index: -10;
      }
    }
  
    #stars3 {
      width: 3px;
      height: 3px;
      background: transparent;
      box-shadow: $shadows-big;
      animation: animStar 125s linear infinite;
      animation-direction: alternate;
      z-index: -10;
      margin-left: 0px;
      margin-right: 0px;
      position: absolute;
      left: 0;
      right: 0;
      &:after {
        content: " ";
        position: absolute;
        top: -500px;
        width: 3px;
        height: 3px;
        background: transparent;
        box-shadow: $shadows-big;
        z-index: -10;
      }
    }
  
    @keyframes animStar {
      from {
        transform: translateY(-150px);
      }
      to {
        transform: translateY(-600px);
      }
    }
  }
}
